---
layout: null
sitemap: false
permalink: /search.html
---

[
{% assign counter = 0 %}
{% for post in site.posts %}
  {% if post.lang == nil or post.lang == "ja" %}
  {
    "id": {{ counter }},
    "url": "{{ post.url | absolute_url }}",
    "title": {{ post.title | strip_html | jsonify }},
    "body": {{ post.content | strip_html | normalize_whitespace | strip_newlines | truncatewords: 200 | jsonify }}
  }{% unless forloop.last %},{% endunless %}
  {% assign counter = counter | plus: 1 %}
  {% endif %}
{% endfor %}
]
