name: Translate Posts

on:
  workflow_dispatch:

jobs:
  translate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # 固定で安定バージョンを指定

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install googletrans==4.0.0-rc1
          pip install PyYAML
          pip show PyYAML

      - name: Run translation script
        run: python scripts/translate.py

      - name: Commit and push translated files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add en/_posts/*
          git commit -m "Add translated English posts" || echo "No changes to commit"
          git push
